---
layout: default
---
<header style="background-image: url({{ site.baseurl }}{{ page.featured_image }});">
  <div class="container post-container">
    <a href="{{ site.baseurl }}/" class="home_button"></a>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            Published
          </span>
          {{ page.date | date_to_string }}
        </li>
        <li>
          <span>
            Category
          </span>
          {{ page.categories }}
        </li>
      </ul>      
    </div>
    <ul class="pagination">
      {% if page.previous.url %}
        <li class="previous">
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
            Previous
          </a>
        </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          Next
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>

<article>
  <div class="container">
    {{ content }}
  </div>
  <div id="SOHUCS"></div>
</article>

<!--高速版，加载速度快，使用前需测试页面的兼容性-->
<script>
  (function(){
    var appid = 'cyrK3CneS',
    conf = 'prod_97298ec9d0ea7aa5bd56fec860079c46';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
    window.SCS_NO_IFRAME = true;
  })()
</script>                
